Source: vyatta-log
Section: contrib/net
Priority: optional
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Build-Depends:
 debhelper (>= 9.0.0),
 dh-python,
 dh-yang,
 python3-all,
 python3-iso8601,
 python3-pytest,
 python3-setuptools,
 python3-tz
Standards-Version: 3.9.8

Package: python3-rfc3339-to-systemd-time
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Description: Python module to convert rfc3339 time to a format
 journalctl since/until will understand

Package: vyatta-log-journald-config
Architecture: all
Depends: vyatta-service-snmp (>= 0.40),
 ${misc:Depends}
Pre-Depends: systemd
Description: Vyatta logging service
 Vyatta logging service, provide ability to view system logs

Package: vyatta-system-journal-v1-yang
Architecture: all
Depends: ${misc:Depends}, ${yang:Depends}, systemd
Description: YANG root for systemd-journal config in Vyatta vRouter
 The YANG files defining the root of the data model for systemd-journal's
 configuration in the Vyatta Configd CLI, and the export child-node hosting
 journal log export configuration.

Package: vyatta-op-clear-log-v1-yang
Architecture: all
Depends: ${misc:Depends}, ${yang:Depends}, systemd
Description: Vyatta clear log yang
 Yang modules to clear system logs

Package: vyatta-op-show-journal-v1-yang
Architecture: all
Depends: ${misc:Depends}, ${yang:Depends}, systemd
Description: Vyatta show journal yang
 Yang modules to show system journal

Package: vyatta-op-show-log-v1-yang
Architecture: all
Depends: ${misc:Depends}, ${yang:Depends}, systemd,
 python3-rfc3339-to-systemd-time
Description: Vyatta show log yang
 Yang modules to show system logs

Package: vyatta-op-show-log-auth-v1-yang
Architecture: all
Depends: ${misc:Depends}, ${yang:Depends}, systemd
Description: Vyatta show log auth yang
 Yang module to show authentication logs

Package: vyatta-op-monitor-log-v1-yang
Architecture: all
Depends: ${misc:Depends}, ${yang:Depends}, systemd
Description: Vyatta monitor log yang
 Yang module to monitor system logs

Package: vyatta-op-show-log-file-v1-yang
Architecture: all
Depends: ${misc:Depends}, ${yang:Depends}, vyatta-system
Description: OBSOLETE vyatta show log file yang
 Legacy yang for syslog based logging

Package: vyatta-op-delete-log-file-v1-yang
Architecture: all
Depends: ${misc:Depends}, ${yang:Depends}, vyatta-system
Description: OBSOLETE vyatta delete log file yang
 Legacy yang for syslog based logging
